
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    background-color: #8CC461;
}
.rectangle {
    width: 1000px;
    height: 145px;
    background-color: transparent;
    border: 1px solid white; 
    border-radius: 8px; 
    position: center;
    margin-top: 4rem;
    margin-left: 11rem;
    display: flex;
}
.rectangle h1{
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}
.computer_score{
    width: 139px;
    height: 128px;
    background-color: white;
    margin-top:5px;
    margin-left: 30rem;
    border-radius: 10px;
}
.line1{
    margin-left: 2.1rem;
    position: absolute;
    width: 13vw;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.64);
    color: black;
    border: none;
    z-index: -1;

}
.line2 {
    margin-left: 33rem;
    margin-top: 8rem;
    position: absolute;
    width: 15vw;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.64);
    color: black;
    border: none;
    z-index: -1;
    transform: rotate(55deg); /* Apply a 45-degree counter-clockwise rotation */
    transform-origin: left center; /* Set the rotation origin to the left side of the element */
}
.line3 {
    margin-left: 45rem;
    margin-top: -8rem;
    position: absolute;
    width: 16vw;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.64);
    color: black;
    border: none;
    z-index: -1;
    transform: rotate(-55deg); /* Apply a 45-degree counter-clockwise rotation */
    transform-origin: left center; /* Set the rotation origin to the left side of the element */
}



 h2{
    color: #656565;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.7px; 
margin-left: 5px;
}
.Your_score{
    width: 139px;
    height: 128px;
    background-color: white;
    margin-top:5px;
    margin-left: 2rem;
    border-radius: 10px;
}

.triangle {
    display: flex;
    align-items: center;
    height: 400px;
    width: 500px;
}
.blue{
    margin-left: 35rem;
    display: flex;  
    align-items: center; 
    cursor: pointer;
}
.blue img {
    height: auto; 
    margin-left: -7.5rem ; 
}

.purple{
    margin-left: 18rem;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.purple img{
    margin-left:-6rem;
}

.yellow{
    margin-left: 45rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 40px;

}
.yellow img{
    margin-left: -7.3rem;
}




ul {
    list-style: none; /* Remove default list styles */
    padding-left: 20px; /* Add some left padding for spacing */
}

li {
    position: relative; /* Set position to relative */
    padding-left: 20px; /* Add space between bullet and content */
    padding-right: 20px;
    margin-bottom: 15px; /* Add spacing between list items */
    font-family: 'Roboto', sans-serif;
    color: #FFF;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;

    
}

li:before {
    content: ''; /* Empty content generated for the bullet */
    position: absolute;
    left: 0;
    top: 6px; /* Adjust vertical positioning */
    width: 10px; /* Width of the rectangle bullet */
    height: 10px; /* Height of the rectangle bullet */
    background-color: #FFD600; /* Bullet color */
    border-radius: 2px; /* Rounded corners for the rectangle */
}
h3{
    margin-left: 4rem;
    color: #FFF;
    font-family: Roboto;

   font-size: 29px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
.hidden{
    display: none;
    
}
#rulesMenu{
    width: 278px;
    height: 350px;
    background:#004429;
    border: 5px solid white; 
    border-radius: 8px; 
    position: relative;
    margin-top: -15rem;
    margin-left: 68rem;
    align-items: center;
    position: absolute;
}
#showRules{
    background:transparent;
    border-radius: 8px; 
    position: fixed;
    margin-top: 8.5rem;
    margin-left: 80rem;
    padding: 10px;
    align-items: center;
    box-shadow: 0;

    border: 2px solid white; /* Specify border style, width, and color */
    background-color: transparent;
    color: white;
    width: 6rem;

    color: #FFF;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 82.187%; /* 17.259px */
letter-spacing: 2.1px;
}

 p{
    margin-left: -0.5rem;
    margin-top: -0.5rem;

    
color: #252525;
text-align: center;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.computer_score h2{
    margin-left:15px ;
}
 .computer_score h4{
    color: #656565;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px; 
    margin-left: 5px;
    margin-left:30px ;
    margin-top: -5px;
}
.Your_score h2{
    margin-left:40px ;

}
.Your_score h4{
    color: #656565;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px; 
    margin-left: 5px;
    margin-left:35px ;
    margin-top: -5px;
}

.playagain{
    width: 8rem;
    height: 2rem;
    background-color: white;
    margin-top: 35%;
    margin-left: 45%;
    margin-right: 46%;
    padding-top: 0.6rem;
    padding-left: 2rem;
    border-radius: 5px;
}
.playagain a {
    text-decoration: none; /* Remove underline */
    color: #6B6B6B; 
}






